.node {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.path {
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
}

.visited {
  background: linear-gradient(45deg, #ffe666 30%, #ffa6a6 90%);
}
